* {
    margin: 0;
    padding: 0;
}
body,html {
    height: 100%;
}

.top_bar{
    width: auto;
    height: 100px;
    margin: 0px 150px;
    background-color: rgba(118, 118, 141, 0.308);
    border-radius: 15px;
}

header {
    background-image:linear-gradient(to bottom, rgba(222, 223, 166, 0.178),rgba(75, 58, 32, 0.116)), url(../images/background.jpg);
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;

}

.nav-area {
    float: right;
    list-style: none;
    margin-top: 30px;
}

.nav-area li{
    display: inline-block;
    padding-right: 25px;
}

.nav-area li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 25px;
}

.nav-area li a:hover {
    background: white;
    color: black;
}

.logo img {
    float: left;
    padding-left: 30px;
}

.container {
    position: absolute;
    width: 700px;
    height: 480px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(202, 189, 189, 0.322);
    border-radius: 10px 110px 10px 110px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(118, 118, 141, 0.308);
  color: white;
  z-index: 1;
  text-align: center;
}

.button {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 30px;
    display: block;
    width: 100px;
    text-align: center;
    position: relative;
}

.button:hover {
    background: white;
    color: black;
}

.assi_form {
    position: relative;
    left: 100px;
    top: 5px;
    width: 500px;
}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  label {
      text-transform: uppercase;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.89);
  }

  input[type=submit]{
    width: 200px;
    background-color: rgb(19, 179, 27);
    margin-left: 160px;
    margin-top: 5px;
    cursor: pointer;
  }

textarea {
    border-radius: 4px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: none;
}  